*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #c2d6d6;
}
header{
    background-color:rgb(26, 25, 25);
    padding: 10px;
    color: white;
    text-align: center;
}
main{
background-color: rgb(10, 10, 10);
max-width: 500px;
width: 70%;
padding: 20px;
margin-top: 4%;
margin-left: 35%;


}
.card{
    background-color: rgb(201, 231, 94);
    border: 1px solid #ccc ;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}
.lineInput{
    display: grid;
    margin-bottom:10px;
}
input{
    padding:10px;
    border:1px solid #ccc;
    border-radius: 3px;
    outline: 0;

}

 main button{
background-color: rgb(12, 12, 12);
color: white;
border-radius: 10px;
width: 70px;
height: 40px;
text-decoration: none;


}

footer{
    text-align: center;
    margin-top: 2%;
    margin-right: 3%;
    
    
}
#link{
font-size: 25px;
color: black;
padding-right: 8px;
padding-left: 8px;
border:2px solid rgb(0, 0, 0);
border-radius: 5px;
}

main div{
    padding: 6px;
}

[hidden]{
    display: none !important;
}
